@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #ecf3f9;
}

.quiz-container {
    background-color: #fff;
    min-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(100, 100, 100, .1);
    overflow: hidden;
}

.quiz-header {
    padding: 4rem;
}

.quiz-container h2 {
    margin: 0;
}

.quiz-container ul {
    list-style-type: none;
    padding: 0;
}

.quiz-container ul li {
    margin: 1rem;
}

.quiz-container ul li label {
    cursor: pointer;
}

.quiz-container button {
    background-color: #3498db;
    width: 100%;
    border: none;
    color: #fff;
    display: block;
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1rem;
    cursor: pointer;
}

.quiz-container button:hover {
    background-color: #2082c4;
}